/* Extra styles only for people.html */

.team {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.member {
  width: 150px;
  text-align: center;
}

.member img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
